@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/Poppins/Poppins-Regular.ttf'); 
}
@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/Poppins/Poppins-Bold.ttf'); 
}
.container {
  max-width: 1200px;
}
.cl0 {
  color: #fff;
}
.s1-txt1 {
  font-family: Poppins-Bold;
  font-size: 15px;
  color: #555;
  line-height: 1.2;
}
.s1-txt2 {
  font-family: Poppins-Bold;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
}
.s1-txt3 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #999;
  line-height: 1.5;
}
.l1-txt1 {
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
}
.l1-txt2 {
  font-family: Poppins-Bold;
  font-size: 70px;
  color: #fff;
  line-height: 1.1;
  text-transform: uppercase;
}
.l1-txt3 {
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333;
  line-height: 1.2;
  text-transform: uppercase;
}
.size1 {
  width: 100%;
  min-height: 100vh;
}
.size2 {
  width: 100%;
  height: 50px;
}
.size3 {
  width: 36px;
  height: 36px;
}
.wsize1 {
  width: 390px;
  max-width: 100%;
}
.bg0 {
  background-color: #fff;
}
.bg-img1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay1 {
  position: relative;
  z-index: 1;
}
.overlay1::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #30bab6;
  background: -webkit-linear-gradient(top, #009efd, #2af598);
  background: -o-linear-gradient(top, #009efd, #2af598);
  background: -moz-linear-gradient(top, #009efd, #2af598);
  background: linear-gradient(top, #009efd, #2af598);
  opacity: 0.8;
}
